<form class="container pt-5 pb-5" [formGroup]="form">
  <div class="row">
    <div class="col-4" *ngFor="let controlName of variables">
      <div class="form-group">
        <label class="form-label">
          {{ controlName }}
        </label>
        <input
          type="text"
          [formControlName]="controlName"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end gap-3">
    <button type="button" class="btn btn-secondary" (click)="cambiarValores()">
      Mostrar
    </button>
    <button type="button" class="btn btn-primary">Imprimir</button>
  </div>

  <app-contrato
    *ngIf="mostrarContrato"
    (onLoadVariables)="onLoadVariables($event)"
    [valores]="valores"
  ></app-contrato>
</form>
